Repository Bat-World/WorkPlace-2.0, pull requests merged in 2025-06, with the labels that each got.

#2 fixes: fixes on configuration & added context, created dir /src
  server/package.json
  server/server.ts
  server/src/context.ts
  server/src/graphql/index.ts
  server/src/graphql/schema.ts
  server/src/graphql/typeDefs/project.graphql
  server/src/server.ts
  server/tsconfig.json
Labels: bug, client

#6 fix: removed leaderboard added change request, history acitivty
  server/.env
  server/prisma/migrations/20250612053905_add_task_activities/migration.sql
  server/prisma/migrations/20250614051113_init/migration.sql
  server/prisma/schema.prisma
Labels: bug, server

#10 backend at nextjs
  client/.gitignore
  server/.gitignore
  server/README.md
  server/app/api/graphql/route.ts
  server/app/favicon.ico
  server/app/globals.css
  server/app/layout.tsx
  server/app/page.tsx
  server/context.ts
  server/graphql/resolvers/index.ts
  server/graphql/resolvers/mutations/createTask.ts
  server/graphql/resolvers/queries/getTasks.ts
  server/graphql/typeDefs/index.ts
  server/graphql/typeDefs/task.graphql
  server/next.config.ts
  server/package-lock.json
  server/package.json
  server/postcss.config.mjs
  server/prisma/migrations/20250614051113_init/migration.sql
  server/prisma/migrations/20250616051312_init/migration.sql
  server/public/file.svg
  server/public/globe.svg
  server/public/next.svg
  server/public/vercel.svg
  server/public/window.svg
  server/src/context.ts
  server/src/graphql/index.ts
  server/src/graphql/schema.ts
  server/src/graphql/typeDefs/project.graphql
  server/src/server.ts
  server/tsconfig.json
  server/yarn.lock
Labels: server

#17 all of it
  server/app/api/graphql/route.ts
  server/graphql/resolvers/index.ts
  server/graphql/resolvers/mutations/Organization/acceptInvite.ts
  server/graphql/resolvers/mutations/Organization/createOrganization.ts
  server/graphql/resolvers/mutations/Organization/inviteMember.ts
  server/graphql/resolvers/mutations/Organization/updateOrganizationImage.ts
  server/graphql/resolvers/mutations/Project/createProject.ts
  server/graphql/resolvers/mutations/Task/addComment.ts
  server/graphql/resolvers/mutations/Task/addDeadline.ts
  server/graphql/resolvers/mutations/Task/addLabel.ts
  server/graphql/resolvers/mutations/Task/addLog.ts
  server/graphql/resolvers/mutations/Task/addReviewer.ts
  server/graphql/resolvers/mutations/Task/approveTask.ts
  server/graphql/resolvers/mutations/Task/assignTask.ts
  server/graphql/resolvers/mutations/Task/createTask.ts
  server/graphql/resolvers/mutations/Task/updateTask.ts
  server/graphql/resolvers/mutations/Task/uploadFile.ts
  server/graphql/resolvers/queries/Comment/getComments.ts
  server/graphql/resolvers/queries/Log/getLogs.ts
  server/graphql/resolvers/queries/Organization/getMembersByOrgId.ts
  server/graphql/resolvers/queries/Organization/getOrganizationById.ts
  server/graphql/resolvers/queries/Organization/getOrganizations.ts
  server/graphql/resolvers/queries/Project/getProjectById.ts
  server/graphql/resolvers/queries/Project/getProjects.ts
  server/graphql/resolvers/queries/Task/getReviewTasks.ts
  server/graphql/resolvers/queries/Task/getTaskById.ts
  server/graphql/resolvers/queries/Task/getTasks.ts
  server/graphql/resolvers/queries/getTasks.ts
  server/graphql/typeDefs/index.ts
  server/graphql/typeDefs/org.schema.ts
  server/graphql/typeDefs/project.schema.ts
  server/graphql/typeDefs/schema.ts
  server/graphql/typeDefs/task.schema.ts
  server/package.json
  server/prisma/migrations/20250622135235_init/migration.sql
  server/prisma/schema.prisma
  server/src/app.ts
  server/src/controllers/README.md
  server/src/middleware/auth.ts
  server/src/middleware/orgGuard.ts
  server/src/middleware/rbac.ts
  server/src/prisma.ts
  server/src/services/README.md
  server/src/types/README.md
  server/src/utils/README.md
  server/src/utils/email.ts
  server/yarn.lock
Labels: server, feature
